/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

@import 'theme.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

:host {
    min-height: 100%;
    display: flex;
}

mat-toolbar.main-toolbar {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}

footer {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0px;
    z-index: 99;
}

.container {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

mat-sidenav {
    overflow: auto;
    padding-top: 70px;
}

mat-sidenav-content {
    width: 100%;
}

.select2-container--default .select2-selection {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
}

.select2-container--default .select2-selection--single {
    padding: 6px 24px 6px 0
}

.select2-container--default.select2-container--focus .select2-selection,
.select2-container--default.select2-container--open .select2-selection {
    box-shadow: none;
    border-color: #e6e6e6;
}

.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 5px 5px 0 0;
    border: 1px solid #e6e6e6;
}

.select2-container--default .select2-selection:focus {
    outline: none;
}

select:focus {
    outline: none;
}


@media screen and (max-width: 600px) {
    .container {
        padding-top: 56px;
    }
}